.task {
  display: inline-block;
  min-height: 4.5vh;
  max-height: 4.5vh;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.task_selected {
  display: inline-block;
  min-height: 4.5vh;
  max-height: 4.5vh;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
  padding: none;
  margin: none;
  background-color: rgb(121, 255, 121);
  padding-bottom: 1vh;
}

.name {
  max-width: 4.5vh;
  font-size: 1.5vh;
  position: absolute;
  transform: translate(-20%, -100%);
  padding: none;
  margin: none;
  color: rgb(74, 255, 74);
}

.icon {
  width: 3.3vh;
  -webkit-user-drag: none;
  margin: none;
  padding: none;
  margin-left: 0.8vh;
  margin-right: 0.8vh;
  margin-top: 0.25vh;
}

.icon_hover {
  width: 3.3vh;
  -webkit-user-drag: none;
  margin: none;
  padding: none;
  margin-left: 0.8vh;
  margin-right: 0.8vh;
  margin-top: 0.25vh;
}
