.window_handle {
  color: rgb(0, 237, 0);
  background-color: black;
  border: 2px solid #31b82a;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  display: table;
  opacity: 1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-bottom: -35px;
}

.window_content_background {
  background-color: #181818;
  opacity: 0.9;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.window_content {
  margin: none;
  padding: none;
  color: rgb(74, 255, 74);
  opacity: 1;
}

.window_content_background_fullscreen {
  margin: none;
  padding: none;
  background-color: #181818;
  opacity: 0.9;
  border-radius: "0px";
}

.icon {
  -webkit-user-drag: none;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
  display: table-cell;
  padding: none;
  margin: none;
  margin-top: 1px;
}

.x {
  -webkit-user-drag: none;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
  display: table-cell;
  padding: none;
  margin: none;
  margin-left: 7px;
  margin-bottom: 2px;
  vertical-align: middle;
}

.minimise {
  -webkit-user-drag: none;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
  display: table-cell;
  padding: none;
  margin: none;
  margin-top: 7px;
  margin-left: 7px;
  vertical-align: middle;
}

.title {
  padding: none;
  color: rgb(0, 237, 0);
  margin: none;
  display: table-cell;
  vertical-align: middle;
}
