.console > a {
  color: lightcyan;
}

.input_pointer {
  margin-right: 5px;
}

.console_input {
  color: rgb(74, 255, 74);
  background-color: #181818;
  border: none;
  font-size: medium;
  width: 90%;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  text-shadow: none;
}

.cmd > p {
  margin: none;
  padding: none;
  white-space: pre-wrap;
}

.cmd {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  overflow-y: scroll;
  max-height: 60vh;
  min-height: 10vh;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prev_command > .unselectable {
  margin-right: 2px;
}

.prev_command {
  margin-left: 0px;
  padding: 0px;
  white-space: pre-wrap;
}
