.board_element {
  background-color: rgb(1, 82, 1);
  border: 2px solid #31b82a;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.board_element:hover {
  background-color: green;
  border: 2px solid #31b82a;
}

.game_complete_text {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.restart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(2, 62, 2);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
